.button--primary {
  color: $primary;
  line-height: 140%;
  text-decoration: none;
  display: inline-block;
  align-self: center;
  padding: 10px 20px;
  border: 2px solid $primary;
  background-color: rgba($primary, 0);
  transition: all 0.2s ease-in-out;
  &:hover, &:focus {
    background-color: rgba($primary, 1);
    color: $white;
  }
  &.button--white {
    color: $white;
    border: 2px solid $white;
    background-color: rgba($white, 0);
    &:hover, &:focus {
      background-color: rgba($white, 1);
      color: $primary;
    }
  }
}
