@import 'https://fonts.googleapis.com/css?family=Poppins:400,500,600';

$h1margintop: 60px;
$h1marginbottom: 110px;

body, p, .p {
  font-family: 'Poppins', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 190%;
  font-weight: 400;
  text-align: left;
  color: $black;
}

.visuallyhidden {display: none;}
::-moz-selection {background: $grey-light;}
::selection {background: $grey-light;}

p, h2, .h2, h3, .h3, h4, .h4, .subtitle, ol.list, ul.list {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
}

p + p {margin-top: 20px;}
p + .button--primary {margin-top: 20px;}
.p--small {color: $grey;}
.uppercase {text-transform: uppercase;}
.center {text-align: center !important;}

a {
  text-decoration: underline;
  color: $primary;
}

h1, .h1 {
  width: 100%;
  max-width: 100%;
  font-size: 46px;
  line-height: 150%;
  text-align: center;
  font-weight: 600;
  margin-top: $h1margintop;
  margin-bottom: $h1marginbottom;
  @media screen and (max-width: 930px) {font-size: 42px; margin-top: 30px; margin-bottom: 80px;}
  @media screen and (max-width: 700px) {font-size: 36px; margin-top: 20px; margin-bottom: 50px;}
  @media screen and (max-width: 550px) {font-size: 28px; margin-top: 40px; margin-bottom: 60px;}
}

h2, .h2 {
  font-size: 26px;
  line-height: 160%;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: left;
  @media screen and (max-width: 800px) {
    font-size: 22px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 800px) {
    font-size: 19px;
  }
}

h3, .h3 {
  font-size: 22px;
  line-height: 160%;
  font-weight: 400;
  text-align: left;
  margin-bottom: 30px;
  @media screen and (max-width: 800px) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

h4, .h4 {
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  text-align: left;
  margin-bottom: 30px;
  @media screen and (max-width: 800px) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.subtitle {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 10px;
}

p + h3, p + .h3 {margin-top: 30px;}

ul.list {
  list-style: square;
  width: 100%;
  display: inline-block;
  padding-left: 50px;
  margin: 20px 0;
  text-align: left;
}

ol.list {
  counter-reset: thecounter;
  width: 100%;
  display: inline-block;
  padding-left: 30px;
  margin: 30px 0;
  li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 45px;
    text-align: left;
    &:before {
      content: counter(thecounter);
      counter-increment: thecounter;
      font-size: 18px;
      font-weight: 600;
      color: $primary;
      display: inline-block;
      border: 2px solid $primary;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      text-align: center;
      line-height: 27px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  @media screen and (max-width: 550px) {
    padding-left: 0;
  }
}
