.grid {
  display: flex;
  flex-wrap: wrap;

  .grid--one {
    width: 100%;
  }

  .grid--two {
    width: 50%;
    &.grid--margin {
      width: 48%;
      margin-right: 4%;
      margin-bottom: 40px;
      &:nth-of-type(even) {margin-right: 0;}
    }
  }
  .grid--two--special {
    &:nth-child(odd) {width: 42%;}
    &:nth-child(even) {width: 53%;}
    &.grid--margin {
      margin-bottom: 40px;
      &:nth-child(odd) {margin-right: 5%;}
      &:nth-child(even) {margin-right: 0;}
    }
  }
  &.grid--inverse {
    .grid--two--special {
      &:nth-child(even) {width: 42%;}
      &:nth-child(odd) {width: 53%;}
      margin-bottom: 40px;
    }
  }
  .grid--three {
    width: 33.33%;
    &.grid--margin {
      margin-bottom: 40px;
      width: 30.6%;
      margin-right: 4%;
      &:nth-of-type(3n) {margin-right: 0;}
    }
  }
}
