img {
  width: auto;
  max-width: 100%;
  vertical-align: bottom;
  align-self: flex-start;
  &.img {
    box-shadow: 0 0 0 1px $grey-light;
  }
}

picture {
  display: flex;
  width: auto;
  max-width: 100%;
  &.img {
    box-shadow: 0 0 0 1px $grey-light;
  }
}

.panel--white {
  &.big--padding {
    .image-full {
      width: calc(100% + #{$panelbigpadding * 2});
      height: auto;
      position: relative;
      top: -$panelbigpadding;
      left: -$panelbigpadding;
      margin-bottom: -$panelbigpadding;
      flex: 1 0 auto;
    }
  }
}
