b.keyword {
  position: relative;
  z-index: -1;
  overflow: hidden;
  padding: 0 5px;
  left: -5px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: -10px;
  &:before, &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  &:before {
    z-index: 2;
    background-image: image-url('pen-left.svg'), image-url('pen-right.svg');
    background-repeat: no-repeat;
    background-position: center left, center right;
    background-size: auto 30%;
  }
  &:after {
    height: 20%;
    top: 40%;
    left: -100%;
    z-index: -1;
    background-color: $primary-light;
    transition: left .4s ease-out;
    transition-delay: .5s;
  }
  &.timetwo {
    &:after {transition-delay: .7s;}
  }
  &.revealed {
    &:after {
      left: 0;
    }
  }
}
