$panelpadding: 30px;
$panelbigpadding: 60px;

.panel--white {
  width: 100%;
  box-shadow: $panelwhiteborder;
  background-color: $white;
  padding: $panelpadding;
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
  &.big--padding {
    padding: $panelbigpadding;
    @media screen and (max-width: 760px) {padding: $panelpadding;}
  }
  &.no--border {box-shadow: none;}
}

.panel--blue {
  width: 100%;
  background-color: $primary;
  padding: $panelpadding;
  display: flex;
  color: white;
  p, .p, h1, .h1, h2, .h2, h3, .h3 {color: white;}
  &.space-between {
    justify-content: space-between;
  }
  &.big--padding {padding: $panelbigpadding;}
}
