---
title: "Projet : France Machines Outils - Conception d'une interface d'administration"
description: ""
keywords: ""
changefreq: "monthly"
priority: "1"
---

h1 class="visuallyhidden" = "#{data.settings.site.title} - #{current_page.data.title}"
= partial 'views/global/projects-header'
section class="content"
      
  div class="wrapper"
    
    div class="projects--title"
      p class="subtitle center" Client : #{data.projectsfmo.subtitle}
      h1 = data.projectsfmo.title
      
    div class="contener"

      div class="projects--primaryimg image-full"
        = image_tag "projets/#{data.projectsfmo.imageone}", alt: "#{data.projectsfmo.subtitle} - #{data.projectsfmo.title}"
      
