---
title: "Projet : Zukunfthaus - Conception de l'application iPad"
description: ""
keywords: ""
changefreq: "monthly"
priority: "1"
---

h1 class="visuallyhidden" = "#{data.settings.site.title} - #{current_page.data.title}"
= partial 'views/global/projects-header'
section class="content"
      
  div class="wrapper"
    
    div class="projects--title"
      p class="subtitle center" Client : #{data.projectszukunfthaus.subtitle}
      h1 = data.projectszukunfthaus.title
      
    div class="contener"

      div class="projects--primaryimg image-full"
        = image_tag "projets/#{data.projectszukunfthaus.imageone}", alt: "#{data.projectszukunfthaus.subtitle} - #{data.projectszukunfthaus.title}"
      
