.index {
  header .header--navigation ul li.header--menu-forsmall a {color: $primary;}
}
.competences {
  header .header--navigation ul li.competences a {color: $primary;}
}
.profil {
  header .header--navigation ul li.profil a {color: $primary;}
}
.references {
  header .header--navigation ul li.references a {color: $primary;}
}
.contact {
  header .header--navigation ul li.contact a {color: $primary;}
}
.guidelines {
  header .header--navigation ul li.guidelines a {color: $primary;}
}
