.competences {header .header--navigation nav ul li.competences a {color: $primary; box-shadow: inset 0 -2px 0 $primary}}
.profil {header .header--navigation nav ul li.profil a {color: $primary; box-shadow: inset 0 -2px 0 $primary}}
.references {header .header--navigation nav ul li.references a {color: $primary; box-shadow: inset 0 -2px 0 $primary}}
.contact {header .header--navigation nav ul li.contact a {color: $primary; box-shadow: inset 0 -2px 0 $primary}}
.guidelines {header .header--navigation nav ul li.guidelines a {color: $primary; box-shadow: inset 0 -2px 0 $primary}}
