.m-panel--contact {
  margin-top: -30px;
  max-width: 600px !important;
  position: relative;
  @media screen and (max-width: 750px) {margin-top: 40px;}
  .panel--blue {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    @media screen and (max-width: 529px) {padding: 25px;}
  }
  .p {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }
  a {
    white-space: nowrap;
    &:first-of-type {margin-right: 5%;}
  }
  @media screen and (max-width: 530px) {
    .panel--blue {
      flex-direction: column;
      a {
        margin-top: 20px;
        &:first-of-type {margin-right: 0; margin-top: 0;}
      }
    }
  }
}

// Relativ to negativ margin-top (+40px)
.competences {
  .content {.grid {&:last-of-type {padding-bottom: 150px;}}}
  @media screen and (max-width: 750px) {.content {.grid {&:last-of-type {padding-bottom: 60px;}}}}
}
.profil {
  .profil--entries {.panel--white:last-of-type {padding-bottom: 120px;}}
  @media screen and (max-width: 750px) {.profil--entries {.panel--white:last-of-type {padding-bottom: 40px;}}}
}
.index {.m-panel--contact{margin-top: 0;}}
