.m-panel--contact {
  margin-top: -30px;
  max-width: 600px !important;
  position: relative;
  .panel--blue {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
  }
  .p {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }
  a {
    white-space: nowrap;
    &:first-of-type {margin-right: 5%;}
  }
  @media screen and (max-width: 530px) {
    .panel--blue {
      flex-direction: column;
      a {
        margin-top: 20px;
        &:first-of-type {margin-right: 0; margin-top: 0;}
      }
    }
  }
}

// Relativ to negativ margin-top (+40px)
.competences {.content {.grid {&:last-of-type {padding-bottom: 150px;}}}}
.profil {.profil--entries {.panel--white:nth-last-of-type(3n) {padding-bottom: 80px;}}}
.index {.m-panel--contact{margin-top: 0;}}
