.m-crossnavigation {
  margin-top: 30px;
  margin-bottom: 40px;
  .m-crossnavigation--title {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: $grey;
    margin-bottom: 20px;
  }
  .subtitle, p, .p {
    width: 100%;
    max-width: 375px;
    margin: 0;
  }
  .subtitle {
    text-align: left;
    margin-bottom: 5px;
  }
  a {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 0 !important;
    &:nth-of-type(even) {align-items: flex-end;}
    &:nth-of-type(odd) {
      padding-left: 115px;
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        border-left: 2px solid $primary;
        border-bottom: 2px solid $primary;
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50px;
        margin-top: -6px;
      }
      &:before {
        content: '';
        width: 17px;
        height: 2px;
        background-color: $primary;
        position: absolute;
        top: 50%;
        left: 50px;
        margin-top: -1px;
      }
    }
    &:nth-of-type(even) {
      padding-right: 115px;
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        border-right: 2px solid $primary;
        border-top: 2px solid $primary;
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 50px;
        margin-top: -6px;
      }
      &:before {
        content: '';
        width: 17px;
        height: 2px;
        background-color: $primary;
        position: absolute;
        top: 50%;
        right: 50px;
        margin-top: -1px;
      }
    }
  }
}
