.m-crossnavigation {
  margin-top: -30px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 900px;
  .m-crossnavigation--title {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .subtitle, p, .p {
    width: 100%;
    max-width: 375px;
    margin: 0;
  }
  .subtitle {
    text-align: left;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
  }
  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 0 1px $white;
    position: relative;
    margin-bottom: 0 !important;
    background-color: $primary;
    &:nth-of-type(odd) {
      padding: 20px 40px 20px 75px;
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        border-left: 2px solid $white;
        border-bottom: 2px solid $white;
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        left: 30px;
        margin-top: -6px;
      }
      &:before {
        content: '';
        width: 17px;
        height: 2px;
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 30px;
        margin-top: -1px;
      }
    }
    &:nth-of-type(even) {
      align-items: flex-end;
      padding: 20px 75px 20px 40px;
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        border-right: 2px solid $white;
        border-top: 2px solid $white;
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 30px;
        margin-top: -6px;
      }
      &:before {
        content: '';
        width: 17px;
        height: 2px;
        background-color: $white;
        position: absolute;
        top: 50%;
        right: 30px;
        margin-top: -1px;
      }
    }
  }
}
