.m-crossnavigation {
  .m-crossnavigation--title {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: $grey;
    padding: 80px 20px 10px;
    margin: 0;
    background-color: $white;
    box-shadow: 0 -1px 0 $white, $panelwhiteborder;
  }
  .subtitle, p, .p {
    width: auto;
    max-width: 375px;
    margin: 0 !important;
  }
  .subtitle {
    text-align: left;
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 16px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 40px 40px 40px 110px;
    box-shadow: 0 0 0 1px $grey-light, inset 0 0 0 1px rgba($primary, 0);
    transition: box-shadow .2s ease-in-out;
    &:hover, &:focus {
      box-shadow: 0 0 0 1px $primary, inset 0 0 0 1px rgba($primary, 1);
      z-index: 2;
    }
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      border-left: 2px solid $primary;
      border-bottom: 2px solid $primary;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      left: 65px;
      margin-top: -6px;
    }
    &:before {
      content: '';
      width: 17px;
      height: 2px;
      background-color: $primary;
      position: absolute;
      top: 50%;
      left: 65px;
      margin-top: -1px;
    }
    &:nth-of-type(even) {
      align-items: flex-end;
      padding: 20px 110px 20px 40px;
      &:after {
        left: auto;
        right: 65px;
        border-left: none;
        border-bottom: none;
        border-right: 2px solid $primary;
        border-top: 2px solid $primary;
      }
      &:before {
        left: auto;
        right: 65px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .m-crossnavigation--title {font-size: 11px; padding-top: 40px;}
    a {
      padding: 20px 20px 20px 80px; &:before, &:after {left: 35px;}
      &:nth-of-type(even) {padding: 20px 80px 20px 20px; &:before, &:after {right: 35px;}}
    }
  }
  @media screen and (max-width: 600px) {
    .m-crossnavigation--title {padding-top: 20px;}
    a {
      p {
        display: none;
        &.subtitle {
          display: inline-block;
          overflow: hidden;
          width: 100%;
          text-overflow: ellipsis;
        }
      }
    }
  }
  @media screen and (max-width: 450px) {
    a {
      padding: 20px 10px 20px 45px;
      &:before, &:after {left: 20px;}
      &:before {width: 11px;}
      &:after {width: 6px; height: 6px; margin-top: -4px;}
      &:nth-of-type(even) {padding: 20px 45px 20px 10px; &:before, &:after {right: 20px;}}
    }
  }
}
