footer {
  border-top: 5px solid $grey-ll;
  margin-top: 140px;
  padding: 70px 0;
  .h3 {text-align: center;text-transform: uppercase;margin-top: 0;}
  p + p {margin-top: 10px;}
  a {color: $black;}
  .grid {justify-content: center;}
  .g2 {width: auto;text-align: center;&:first-of-type{margin-right: 60px;}}
  .label {text-transform: uppercase;}
  .entrie {font-weight: 600;}
}
