#header-small {
	width: 100%;
	height: auto;
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	padding: 10vh 30px 20vh;
	margin-bottom: -10vh;
	align-items: center;
	justify-content: center;
	background-image: image-url("image-accueil.jpg");
	background-size: cover;
	background-position: center;
	img {
		width: 80px;
		max-width: 100%;
		margin: 0 0 20px;
	}
	h1 {
		width: 100%;
		display: inline-block;
		font-size: 54px;
		text-align: center;
		color: $white;
	}
}