$logo-size: 50px;
$headderpadding: 30px;
$headderpadding-xs: 10px;
$headdermargin: 60px;
$headdermargin-xs: 0;
$headertotalsize: ( $headderpadding * 2 + $logo-size );
body {
  padding-top: $headertotalsize + $headdermargin;
  @media screen and (max-width: $media-m) {padding-top: $headertotalsize + $headdermargin-xs;}
  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: $headderpadding 0;
    @media screen and (max-width: $media-m) {padding: $headderpadding-xs 0;}
    z-index: 10;
    background-color: $white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
    transition: top .2s  ease-in-out,
                transform .5s ease-in-out,
                box-shadow .5s ease-in-out;
    &.headroom--not-top {
      position: fixed;
      top: 0;
      left: 0;
      padding: ($headderpadding / 3) 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      transform: translateY(0);
    }
    &.slideUp {
      transform: translateY(-100%);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
    }
    &.slideDown {
      transform: translateY(0);
    }
    &.headroom--top {
      transform: translateY(0);
    }
    &.menu--open {
      padding: $headderpadding 0 !important;
      @media screen and (max-width: $media-m) {padding: $headderpadding-xs 0 !important;}
      top: 0 !important;
      transform: translateY(0) !important;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0) !important;
    }
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .header--logo {
      text-decoration: none;
      display: flex;
      width: auto;
      flex-direction: row;
      position: relative;
      p {
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
        color: $primary;
        width: auto;
        height: $logo-size;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: calc(#{$logo-size} + 15px);
        margin-right: 20px;
        position: relative;
        z-index: 1;
        transition: color .2s ease-in-out;
        &:before {
          content: '';
          width: $logo-size;
          height: $logo-size;
          display: inline-block;
          background-color: $primary;
          position: absolute;
          top: 0;
          left: 0;
        }
        @media screen and (max-width: $media-xs) {white-space: normal;width: 170px;line-height: 140%;}
      }
      img {
        position: absolute;
        z-index: 2;
        width: 30px;
        top: 11px;
        left: 11px;
        opacity: 1;
        transform: scale(1);
        transition: all .2s ease-in-out;
        &.header--logo-home {
          width: 20px;
          top: 12px;
          left: 15px;
          opacity: 0;
          transform: scale(0);
          transition: all .2s ease-in-out;
          transition-delay: .15s;
        }
      }
      &:hover, &:focus {
        img {
          opacity: 0;
          transform: scale(0);
          transition-delay: .15s;
          &.header--logo-home {
            opacity: 1;
            transform: scale(1);
            transition-delay: 0;
          }
        }
      }
    }
    .header--navigation {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: relative;
      ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        li {
          &.header--menu-forsmall {display: none;}
          a {
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 30px;
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
    .menu-button {
        display: none;
        font-size: 16px;
        text-transform: uppercase;
        color: $black;
        padding: 5px 20px;
        box-shadow: 0 0 0 2px $black;
        cursor: pointer;
        outline: none;
        z-index: 2;
    }
    @media screen and (max-width: $max-width-menu-extended) {
      .menu-button {display: flex;}
      .header--navigation {
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        background-color: $primary;
        position: fixed;
        top: -100vh;
        left: 0;
        opacity: 0;
        transform: scale(.8);
        transition: opacity .2s ease-in-out,
                    transform .2s ease-in-out;
        ul {
          width: 100%;
          height: calc(100% - $headertotalsize);
          flex-direction: column;
          justify-content: center;
          margin-top: $headertotalsize;
          overflow: scroll;
          li {
            &.header--menu-forsmall {
              display: flex;
            }
            width: 100%;
            a {
              color: $white;
              font-size: 18px;
              font-weight: 400;
              width: 100%;
              height: 60px;
              &:hover {color: $primary-light;}
            }
          }
        }
      }
      @media screen and (max-height: 420px) {
        .header--navigation {
          ul {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            li {
              width: auto;
            }
          }
        }
      }
    }
    &.menu--open {
      .header--navigation {
        opacity: 1;
        transform: scale(1);
        top: 0;
      }
      .header--logo {
        p {
          color: $white;
        }
      }
      .menu-button {
        font-size: 16px;
        text-transform: uppercase;
        color: $white;
        padding: 5px 20px;
        box-shadow: 0 0 0 2px $white;
        cursor: pointer;
        z-index: 2;
      }
    }
  }
}
