// MAX-WIDTH
$max-width: 1200px;
$max-width--medium: 920px;
$max-width--small: 850px;

// COLORS
$white: #FFFFFF;
$black: #272E31;
$grey: #9B9B9B;
$grey-light: #D7DFE9;
$grey-lighter: #ECEFF3;
$primary: #4A90E2;
$primary-light: #C6F0FF;

// MEDIA QUERIES
$max-width-menu-extended: 920px;
$media-xl: 1050px;
$media-l: 950px;
$media-m: 780px;
$media-s: 650px;
$media-xs: 450px;
