// MAX-WIDTH
$max-width: 1200px;
$max-width--medium: 920px;

// COLORS
$white: #FFFFFF;
$black: #272E31;
$grey: #9B9B9B;
$grey-light: #D7DFE9;
$grey-lighter: #ECEFF3;
$primary: #4A90E2;

// MEDIA QUERIES
