// COLORS
$white: #ffffff;
// $gray: #9AA3AD;
// $black: rgba(0, 0, 0, 0.9);
// $c1: #813772;
// $c2: #E52A6F;
$gray: #90A4AE;
$black: #263238;
$c1: #455A64;
$c2: #263238;

$red: #FF1744;
$green: #00E676;

// FONTS
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

$primary-font: 'Open Sans', "Helvetica Neue", helvetica, arial, sans-serif;
$secondary-font: 'Lora', Georgia, serif;

$font-s: 100;
$font-m: 300;
$font-l: 600;

$font-s-m: 16px;
$font-s-l: 18px;

$line-height-xs: 80%;
$line-height-s: 100%;
$line-height-m: 120%;
$line-height-l: 140%;
$line-height-xl: 180%;

// MEDIA QUERIES
$media-s: 480px;
$media-sm: 540px;
$media-m: 760px;
$media-l: 880px;
$media-xl: 1028px;

// NAV
$logowidth: 70px;
$navbarheight: 60px;

// OTHERS
$image-margin: 20px;
$max-width: 1270px;
$section-padding: 55px;
$margin-small: 40px;
$box-shadow-small: 0 20px 50px rgba(0, 0, 0, .1);
$box-shadow-xl: 0 0 30px rgba(0, 0, 0, .5);
