.competences {
  .content {
    .wrapper {box-shadow: $panelwhiteborder;}
    .grid {
      box-shadow: none;
      .grid--margin {margin-bottom: 0;}
    }
    picture {justify-content: center;}
  }
}
