.contact {
  .content {
    .panel--white {
      flex-direction: column;
      padding-top: 70px;
      padding-bottom: 70px;
      margin-bottom: 20px;
      @media screen and (max-width: 800px) {padding-top: 40px; padding-bottom: 40px;}
      @media screen and (max-width: 515px) {padding-left: 15px; padding-right: 15px;}
    }
    p {
      font-size: 32px;
      &:first-of-type {margin-bottom: 30px;}
      @media screen and (max-width: 700px) {font-size: 24px;}
      @media screen and (max-width: 515px) {font-size: 18px;}
      a {
        text-decoration: none;
        color: $black;
        word-break: break-all;
        &:hover, &:focus {text-decoration: underline;}
      }
    }
    .panel--blue {
      flex-direction: column;
      padding-top: 40px;
      padding-bottom: 50px;
      margin-bottom: 100px;
      h1 {
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 20px;
      }
    }
  }
}
