
.index {
  .homepage--title {
    width: 100vw;
    height: 40vh;
    max-height: 400px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 40px 0 100px;
  }
}
