.index {
  header {
    margin-bottom: 0;
  }
  .homepage--title {
    width: 100vw;
    height: 50vh;
    max-height: 400px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 100px 0;
  }
}
