.projets {

  .contener {
    box-shadow: $panelwhiteborder;
  }
  .projects--title {
    .subtitle {
      margin-top: $h1margintop / 2;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 70px;
    }
  }
  .subtitle {margin-top: 30px;}
  .panel--white {
    &.big--padding {
      padding-top: $panelbigpadding / 2;
      padding-bottom: $panelbigpadding / 2;
      .image-full {
        margin-bottom: 0;
      }
    }
  }
  b {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: $primary;
    font-weight: 600;
    margin-bottom: 20px;
    &.keynumber {
      font-size: 38px;
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
  .button--end {margin: 40px 20px 0;}
}
