
// COMPETENCES
.competences {
  section + section {margin-top: 80px;}
  .grid {
    h1 {margin: 0 0 10px;}

    &:nth-of-type(even) {
      .g2 {
        &:nth-of-type(even) {
          order: -1;
        }
      }
      .twoimg {
        img {
          align-self: flex-end;
          &:nth-of-type(even) {align-self: flex-start;}
        }
      }
    }
    @media screen and (max-width: $m-l) {
      &:nth-of-type(even) {
        .g2 {
          &:nth-of-type(even) {
            order: 1;
          }
        }
      }
    }

  }
}

// PROFIL
.profil {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  article {
    margin-top: 100px;
    &:first-of-type {margin-top: 50px;}
  }
}
