---
title: "Projet&nbsp;&#45;&nbsp;France&nbsp;Machines&nbsp;Outils&nbsp;&#58;&nbsp;Conception de l'interface d'administration"
description: "Conception de l'interface d'administration de France Machines Outils, permettant d'administrer le site web ainsi que la gestion des ventes et des stocks"
keywords: "conception, interface, administration, ux, ui"
changefreq: "monthly"
priority: "1"
---

h1 class="visuallyhidden" = "#{data.settings.site.title} - #{current_page.data.title}"
= partial 'views/global/projects-header'

section class="nav--projects"
  h1 class="visuallyhidden" = data.content.crossnavigation
  = link_to "#{data.projetlaredoute.link}" do
    div class="arrow"
    div class="content"
      picture
        source srcset="../assets/images/projets/#{data.projetlaredoute.refimgbig}" media="only screen and ( min-width: 750px) and (-webkit-max-device-pixel-ratio: 1.25), only screen and ( min-width: 750px) and ( max-device-pixel-ratio: 1.25)" class="img"
        source srcset="../assets/images/projets/#{data.projetlaredoute.refimgbig2x}" media="only screen and ( min-width: 750px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 750px) and ( min-device-pixel-ratio: 1.25)" class="img"
        img srcset="../assets/images/projets/#{data.projetlaredoute.refimgsmall}" alt="#{data.projetlaredoute.refimgalt}" class="img"
      div class="text"
        p class="subtitle" = data.projetlaredoute.client
  = link_to "#{data.projetzukunfthaus.link}" do
    div class="arrow"
    div class="content"
      picture
        source srcset="../assets/images/projets/#{data.projetzukunfthaus.refimgbig}" media="only screen and ( min-width: 750px) and (-webkit-max-device-pixel-ratio: 1.25), only screen and ( min-width: 750px) and ( max-device-pixel-ratio: 1.25)" class="img"
        source srcset="../assets/images/projets/#{data.projetzukunfthaus.refimgbig2x}" media="only screen and ( min-width: 750px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 750px) and ( min-device-pixel-ratio: 1.25)" class="img"
        img srcset="../assets/images/projets/#{data.projetzukunfthaus.refimgsmall}" alt="#{data.projetzukunfthaus.refimgalt}" class="img"
      div class="text"
        p class="subtitle" = data.projetzukunfthaus.client
        
section class="content"
      
  div class="wrapper"
    
    div class="projects--title"
      p class="subtitle center" Client : #{data.projetfrancemachinesoutils.client}
      h1 = data.projetfrancemachinesoutils.title
      
    div class="contener"

      div class="projects--primaryimg image-full" id="content"
        picture
          source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.introimgbig}" media="only screen and ( min-width: 950px) and (-webkit-max-device-pixel-ratio: 1.25), only screen and ( min-width: 950px) and ( max-device-pixel-ratio: 1.25)" class="img"
          source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.introimgbig2x}" media="only screen and ( min-width: 950px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 950px) and ( min-device-pixel-ratio: 1.25)" class="img"
          source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.introimgmedium}" media="only screen and ( min-width: 600px) and (-webkit-max-device-pixel-ratio: 1.25), only screen and ( min-width: 600px) and ( max-device-pixel-ratio: 1.25)" class="img"
          source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.introimgmedium2x}" media="only screen and ( min-width: 600px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 600px) and ( min-device-pixel-ratio: 1.25)" class="img"
          source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.introimgsmall2x}" media="only screen and ( min-width: 10px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 10px) and ( min-device-pixel-ratio: 1.25)" class="img"
          img srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.introimgsmall}" alt="#{data.projetfrancemachinesoutils.introimgalt}" class="img"    
      
      div class="grid panel--white big--padding no--border"
        h2 class="subtitle center" Contexte
        p class="intro center" = data.projetfrancemachinesoutils.intro
        
      div class="grid panel--white big--padding no--border" 
        div class="grid--two grid--margin"
          picture
            source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imageonebig}" media="only screen and ( min-width: 450px) and (-webkit-max-device-pixel-ratio: 1.25), only screen and ( min-width: 450px) and ( max-device-pixel-ratio: 1.25)" class="img"
            source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imageonebig2x}" media="only screen and ( min-width: 450px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 450px) and ( min-device-pixel-ratio: 1.25)" class="img"
            source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imageonesmall2x}" media="only screen and ( min-width: 10px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 10px) and ( min-device-pixel-ratio: 1.25)" class="img"
            img srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imageonesmall}" alt="#{data.projetfrancemachinesoutils.imageonealt}" class="img" 
        div class="grid--two grid--margin grid--center"
          h2 = data.projetfrancemachinesoutils.titleone
          p = data.projetfrancemachinesoutils.textone
          
      div class="grid grid--inverse panel--white big--padding no--border" 
        div class="grid--two grid--margin"
          picture
            source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imagetwobig}" media="only screen and ( min-width: 450px) and (-webkit-max-device-pixel-ratio: 1.25), only screen and ( min-width: 450px) and ( max-device-pixel-ratio: 1.25)" class="img"
            source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imagetwobig2x}" media="only screen and ( min-width: 450px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 450px) and ( min-device-pixel-ratio: 1.25)" class="img"
            source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imagetwosmall2x}" media="only screen and ( min-width: 10px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 10px) and ( min-device-pixel-ratio: 1.25)" class="img"
            img srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imagetwosmall}" alt="#{data.projetfrancemachinesoutils.imagetwoalt}" class="img" 
        div class="grid--two grid--margin grid--center"
          h2 = data.projetfrancemachinesoutils.titletwo
          p = data.projetfrancemachinesoutils.texttwo
          
      div class="grid panel--white big--padding no--border" 
        div class="grid--two grid--margin"
          picture
            source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imagethreebig}" media="only screen and ( min-width: 450px) and (-webkit-max-device-pixel-ratio: 1.25), only screen and ( min-width: 450px) and ( max-device-pixel-ratio: 1.25)" class="img"
            source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imagethreebig2x}" media="only screen and ( min-width: 450px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 450px) and ( min-device-pixel-ratio: 1.25)" class="img"
            source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imagethreesmall2x}" media="only screen and ( min-width: 10px) and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-width: 10px) and ( min-device-pixel-ratio: 1.25)" class="img"
            img srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.imagethreesmall}" alt="#{data.projetfrancemachinesoutils.imagethreealt}" class="img" 
        div class="grid--two grid--margin grid--center"
          h2 = data.projetfrancemachinesoutils.titlethree
          p = data.projetfrancemachinesoutils.textthree

section class="wrapper grid m-crossnavigation"
  h1 class="m-crossnavigation--title" = data.content.crossnavigation
  = link_to "#{data.projetlaredoute.link}", class:"panel--white grid--two" do
    p class="subtitle" = data.projetlaredoute.client
    p = data.projetlaredoute.title
  = link_to "#{data.projetzukunfthaus.link}", class:"panel--white grid--two" do
    p class="subtitle" = data.projetzukunfthaus.client
    p = data.projetzukunfthaus.title
    
= partial 'views/footer'
