---
title: "Projet&nbsp;&#45;&nbsp;Jef&nbsp;Chaussures&nbsp;&#58;&nbsp;Refonte du checkout"
description: "Refonte du checkout du site de Jef Chaussures"
keywords: "refonte, checkout, expérience utilisateur, ux, ui"
changefreq: "monthly"
priority: "1"
---

h1 class="visuallyhidden" = "#{data.settings.site.title} - #{current_page.data.title}"
= partial 'views/global/projects-header'

section class="nav--projects"
  h1 class="visuallyhidden" = data.content.crossnavigation
  = link_to "#{data.projetmontresandco.link}" do
    div class="arrow"
    div class="content"
      picture
        source srcset="../assets/images/projets/#{data.projetmontresandco.refproject}" media="(min-width: 950px)" class="img"
        img srcset="../assets/images/projets/#{data.projetmontresandco.refproject}" alt="#{data.projetmontresandco.refalt}" class="img"
      div class="text"
        p class="subtitle" = data.projetmontresandco.client
  = link_to "#{data.projetjefapplication.link}" do
    div class="arrow"
    div class="content"
      picture
        source srcset="../assets/images/projets/#{data.projetjefapplication.refproject}" media="(min-width: 950px)" class="img"
        img srcset="../assets/images/projets/#{data.projetjefapplication.refproject}" alt="#{data.projetjefapplication.refalt}" class="img"
      div class="text"
        p class="subtitle" = data.projetjefapplication.client
        
section class="content"
      
  div class="wrapper"
    
    div class="projects--title"
      p class="subtitle center" Client : #{data.projetjefcheckout.client}
      h1 = data.projetjefcheckout.title
      
    div class="contener"

      div class="projects--primaryimg image-full" id="content"
        picture
          source srcset="#{data.projetjefcheckout.introimgbig2x}" media="(min-width: 950px)" class="img"
          img srcset="#{data.projetjefcheckout.introimgbig2x}" alt="#{data.projetjefcheckout.introimgalt}" class="img"
      
      div class="grid panel--white big--padding no--border"
        h2 class="subtitle center" Contexte
        p class="intro center" = data.projetjefcheckout.intro
      
      div class="grid panel--white big--padding no--border" 
        div class="grid--two grid--margin"
          picture
            source srcset="#{data.projetjefcheckout.imageonebig2x}" media="(min-width: 950px)" class="img"
            img srcset="#{data.projetjefcheckout.imageonebig2x}" alt="#{data.projetjefcheckout.imageonealt}" class="img"
        div class="grid--two grid--margin"
          h2 = data.projetjefcheckout.titleone
          p = data.projetjefcheckout.textone
          
      div class="grid panel--white big--padding no--border" 
        div class="grid--one grid--margin grid--marginbottom"
          picture
            source srcset="#{data.projetjefcheckout.imagetwobig2x}" media="(min-width: 950px)" class="img"
            img srcset="#{data.projetjefcheckout.imagetwobig2x}" alt="#{data.projetjefcheckout.imagetwoalt}" class="img"
        div class="grid--one grid--margin"
          h2 class="center" = data.projetjefcheckout.titletwo
          p = data.projetjefcheckout.texttwo
          
      div class="grid panel--white big--padding no--border" 
        div class="grid--one grid--margin center"
          h2 class="center" = data.projetjefcheckout.titlethree
          p = data.projetjefcheckout.textthree
          = link_to "#{data.projetjefcheckout.textthreelinktext}", "#{data.projetjefcheckout.textthreelinkpath}", class:"button--primary button--end"
    
section class="wrapper grid m-crossnavigation"
  h1 class="m-crossnavigation--title" = data.content.crossnavigation
  = link_to "#{data.projetmontresandco.link}", class:"panel--white grid--two" do
    p class="subtitle" = data.projetmontresandco.client
    p = data.projetmontresandco.title
  = link_to "#{data.projetjefapplication.link}", class:"panel--white grid--two" do
    p class="subtitle" = data.projetjefapplication.client
    p = data.projetjefapplication.title
    
= partial 'views/footer'
