---
title: "Projet&nbsp;&#45;&nbsp;La&nbsp;Redoute&nbsp;&#58;&nbsp;Conception du site corporate"
description: "Conception du site corporate de La Redoute"
keywords: "conception, la redoute, interface, ux, ui"
changefreq: "monthly"
priority: "1"
---

h1 class="visuallyhidden" = "#{data.settings.site.title} - #{current_page.data.title}"
= partial 'views/global/projects-header'

section class="nav--projects"
  h1 class="visuallyhidden" = data.content.crossnavigation
  = link_to "#{data.projetplaneteoui.link}" do
    div class="arrow"
    div class="content"
      picture
        source srcset="../assets/images/projets/#{data.projetplaneteoui.refproject}" media="(min-width: 950px)" class="img"
        img srcset="../assets/images/projets/#{data.projetplaneteoui.refproject}" alt="#{data.projetplaneteoui.refalt}" class="img"
      div class="text"
        p class="subtitle" = data.projetplaneteoui.client
  = link_to "#{data.projetfrancemachinesoutils.link}" do
    div class="arrow"
    div class="content"
      picture
        source srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.refproject}" media="(min-width: 950px)" class="img"
        img srcset="../assets/images/projets/#{data.projetfrancemachinesoutils.refproject}" alt="#{data.projetfrancemachinesoutils.refalt}" class="img"
      div class="text"
        p class="subtitle" = data.projetfrancemachinesoutils.client
        
section class="content"
      
  div class="wrapper"
    
    div class="projects--title"
      p class="subtitle center" Client : #{data.projetlaredoute.client}
      h1 = data.projetlaredoute.title
      
    div class="contener"

      div class="projects--primaryimg image-full" id="content"
        picture
          source srcset="#{data.projetlaredoute.introimgbig2x}" media="(min-width: 950px)" class="img"
          img srcset="#{data.projetlaredoute.introimgbig2x}" alt="#{data.projetlaredoute.introimgalt}" class="img"
      
      div class="grid panel--white big--padding no--border"
        h2 class="subtitle center" Contexte
        p class="intro center" = data.projetlaredoute.intro
        
      div class="grid panel--white big--padding no--border" 
        div class="grid--two grid--margin"
          picture
            source srcset="#{data.projetlaredoute.imageonebig2x}" media="(min-width: 950px)" class="img"
            img srcset="#{data.projetlaredoute.imageonebig2x}" alt="#{data.projetlaredoute.imageonealt}" class="img"
        div class="grid--two grid--margin"
          h2 = data.projetlaredoute.titleone
          p = data.projetlaredoute.textone
          
      div class="grid panel--white big--padding no--border" 
        div class="grid--one grid--margin grid--marginbottom"
          picture
            source srcset="#{data.projetlaredoute.imagetwobig2x}" media="(min-width: 950px)" class="img"
            img srcset="#{data.projetlaredoute.imagetwobig2x}" alt="#{data.projetlaredoute.imagetwoalt}" class="img"
        div class="grid--one grid--margin center"
          h2 class="center" = data.projetlaredoute.titletwo
          p = data.projetlaredoute.texttwo
          = link_to "#{data.projetlaredoute.texttwolinktext}", "#{data.projetlaredoute.texttwolinkpath}", class:"button--primary button--end"
      
      
    
section class="wrapper grid m-crossnavigation"
  h1 class="m-crossnavigation--title" = data.content.crossnavigation
  = link_to "#{data.projetplaneteoui.link}", class:"panel--white grid--two" do
    p class="subtitle" = data.projetplaneteoui.client
    p = data.projetplaneteoui.title
  = link_to "#{data.projetfrancemachinesoutils.link}", class:"panel--white grid--two" do
    p class="subtitle" = data.projetfrancemachinesoutils.client
    p = data.projetfrancemachinesoutils.title
    
= partial 'views/footer'
