section class="wrapper--medium panel--blue m-panel--contact"
  h1 class="p" = data.content.contactbox.p
  =link_to "#{data.content.contactbox.cvlinktext}", "#{data.content.contactbox.cvlinkpath}", class:"button--primary button--white"
  =link_to "#{data.content.contactbox.contactlinktext}", "#{data.content.contactbox.contactlinkpath}", class:"button--primary button--white"
