//BASE
span.funnythings.square data-stellar-ratio="0.8"
span.funnythings.doublecircle data-stellar-ratio="1.2"
span.funnythings.cross data-stellar-ratio="0.8"
span.funnythings.wave  data-stellar-ratio="1.2"
  span
  span
  span
span.funnythings.line data-stellar-ratio="0.8"
span.funnythings.losange data-stellar-ratio="1.2"
span.funnythings.cross2 data-stellar-ratio="0.8"
span.funnythings.circle data-stellar-ratio="1.2"
span.funnythings.diamant data-stellar-ratio="0.8"

span.funnythings.cross data-stellar-ratio="1.2"
span.funnythings.wave data-stellar-ratio="0.8"
  span
  span
  span
span.funnythings.circle data-stellar-ratio="1.2"
span.funnythings.square data-stellar-ratio="0.8"
span.funnythings.diamant data-stellar-ratio="1.2"
span.funnythings.cross2 data-stellar-ratio="0.8"
span.funnythings.doublecircle data-stellar-ratio="1.2"
span.funnythings.line data-stellar-ratio="0.8"
span.funnythings.losange data-stellar-ratio="1.2"

//BASE
span.funnythings.square data-stellar-ratio="0.8"
span.funnythings.doublecircle data-stellar-ratio="1.2"
span.funnythings.cross data-stellar-ratio="0.8"
span.funnythings.wave  data-stellar-ratio="1.2"
  span
  span
  span
span.funnythings.line data-stellar-ratio="0.8"
span.funnythings.losange data-stellar-ratio="1.2"
span.funnythings.cross2 data-stellar-ratio="0.8"
span.funnythings.circle data-stellar-ratio="1.2"
span.funnythings.diamant data-stellar-ratio="0.8"

span.funnythings.cross data-stellar-ratio="1.2"
span.funnythings.wave data-stellar-ratio="0.8"
  span
  span
  span
span.funnythings.circle data-stellar-ratio="1.2"
span.funnythings.square data-stellar-ratio="0.8"
span.funnythings.diamant data-stellar-ratio="1.2"
span.funnythings.cross2 data-stellar-ratio="0.8"
span.funnythings.doublecircle data-stellar-ratio="1.2"
span.funnythings.line data-stellar-ratio="0.8"
span.funnythings.losange data-stellar-ratio="1.2"

//BASE
span.funnythings.square data-stellar-ratio="0.8"
span.funnythings.doublecircle data-stellar-ratio="1.2"
span.funnythings.cross data-stellar-ratio="0.8"
span.funnythings.wave  data-stellar-ratio="1.2"
  span
  span
  span
span.funnythings.line data-stellar-ratio="0.8"
span.funnythings.losange data-stellar-ratio="1.2"
span.funnythings.cross2 data-stellar-ratio="0.8"
span.funnythings.circle data-stellar-ratio="1.2"
span.funnythings.diamant data-stellar-ratio="0.8"

span.funnythings.cross data-stellar-ratio="1.2"
span.funnythings.wave data-stellar-ratio="0.8"
  span
  span
  span
span.funnythings.circle data-stellar-ratio="1.2"
span.funnythings.square data-stellar-ratio="0.8"
span.funnythings.diamant data-stellar-ratio="1.2"
span.funnythings.cross2 data-stellar-ratio="0.8"
span.funnythings.doublecircle data-stellar-ratio="1.2"
span.funnythings.line data-stellar-ratio="0.8"
span.funnythings.losange data-stellar-ratio="1.2"

