#association {
	padding: $section-padding * 2;
	margin: $section-padding 0;
	background-image: image-url("image-association.jpg");
	background-size: cover;
	background-position: center;
	align-items: center;
	position: relative;
	.color {
		width: 60%;
		height: 60%;
		display: inline-block;
		background-color: $c2;
		opacity: .4;
		position: absolute;
		top: 10%;
		right: 5%;
		z-index: 1;
	}
	@media screen and (max-width: $media-l) {padding: $section-padding;}
	@media screen and (max-width: $media-s) {padding: $margin-small 0 $margin-small; margin-bottom: $margin-small;}

	.h2 {
		text-align: center;
		span.small {
			white-space: nowrap;
			@media screen and (max-width: $media-s) {
				white-space: normal;
			}
		}
	}
	.box {
		position: relative;
		z-index: 2;
		&.texte {
			width: 80%;
			max-width: 680px;
			padding: $section-padding $section-padding $section-padding * 1.5;
			span {
				width: auto;
				display: inline;
			}
			@media screen and (max-width: $media-l) {
				width: 90%;
			}
			@media screen and (max-width: $media-s) {
				padding: ($section-padding / 2) ($section-padding / 1.3) $section-padding * 1.5;
			}
		}
	}
	.top-negativ {
		margin-top: - $section-padding;
	}
}
