#lelieu {
  flex-direction: row;
  margin-top: -5vh;
  @media screen and (max-width: $media-xl) {margin-top: 0;}
  @media screen and (max-width: $media-l) {
    flex-direction: column;
    margin-top: $margin-small;
  }
  .box {
    width: 100%;
    max-width: 945px;
    left: 5%;
    @media screen and (max-width: $media-l) {left: 0;}
    @media screen and (max-width: $media-s) {text-align: center;}
  }
  .h2 span.small {
    display: inline;
  }
  p {
    padding-right: 10vw;
    @media screen and (max-width: $media-s) {padding-right: 0;}
  }
  .imagecontener {
    width: 100%;
    align-self: center;
    margin-left: -10vw;
    padding-top: $section-padding;
    img {
      width: calc(50% - #{$image-margin / 2});
      margin-bottom: 0;
      &:last-child {margin: 0;}
    }
    @media screen and (max-width: 1100px) {
      display: flex;
      flex-direction: column;
      width: auto;
      padding-left: 20px;
      img {
        width: 100%;
        margin: 0 0 20px 0;
        max-width: 100%;
        align-self: flex-start;
      }
    }
    @media screen and (max-width: $media-l) {
      flex-direction: row;
      width: 100%;
      padding: 0;
      align-items: center;
      justify-content: center;
      margin: 0;
      img {
        width: calc(50% - #{$image-margin / 2});
        max-width: 100%;
        margin: 20px 20px 0 0;
        &:last-child {margin: 20px 0 0 0;}
      }
    }
    @media screen and (max-width: $media-s) {
      flex-direction: column;
      img {
        width: auto;
        max-width: 100%;
        align-self: center;
        margin: 20px 0 0 0;
        &:last-child {display: none;}
      }
    }
  }
}
