#noevent {
	margin-bottom: 0;
	.box {
		padding: $section-padding $section-padding ($section-padding * 1.5);
		@media screen and (max-width: $media-s) {
			padding: ($section-padding / 1.5) ($section-padding / 2);
		}
	}
	h2, .h2 {
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
		font-size: 36px;
		span.small {
			font-size: 28px;
			margin-bottom: 10px;
		}
	}
	p {
		margin: 30px 0;
	}
	@media screen and (max-width: $media-s) {
		h2, .h2 {
			font-size: 26px;
			span.small {
				font-size: 20px;
			}
		}
		p {
			margin-top: 20px;
		}
	}
}
