// BLACK & WHITE
$black: #37474F;
$white: #FFFFFF;

//GREYS
$grey-ll: #ECEFF1;
$grey-l: #B0BEC5;
$grey: #78909C;
$grey-d: #546E7A;
$grey-dd: #455A64;

//COLORS
$c1-ll: #E0F7FA;
$c1-l: #64B5F6;
$c1: #076cf1;
$c1-d: #1565C0;
$c1-dd: #0D47A1;
