// INIT GOOGLE FONT
@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600,800';
$font-p: "Raleway", "Helvetica Neue", helvetica, arial, sans-serif;

// DEFINE FONTS STYLES
body {
  font-family: $font-p;
  font-size: 16px;
  line-height: 180%;
  font-weight: 400;
  color: $black;
}

b {font-weight: 600;}
i {font-style: italic;color: $grey-d;}

a {
  text-decoration: underline;
  color: $c1;
  &:hover, &:focus {
    background-color: $c1-ll;
  }
}

.visuallyhidden {display: none;}

// LISTS
ul, ol {
  padding-left: 50px;
  margin: 20px 0;
}

ul {list-style: disc;}
ol {
  counter-reset: ol-counter;
  li {
    &:before {
      content: counter(ol-counter)".";
      counter-increment: ol-counter;
      font-size: 20px;
      font-weight: 600;
      margin-right: 10px;
    }
  }
}

// TITLES
h1, .h1 {
  font-size: 62px;
  line-height: 120%;
  font-weight: 600;
  text-transform: uppercase;
  margin: 50px 0;
  text-align: center;
}

h2, .h2 {
  text-transform: uppercase;
  font-size: 38px;
  line-height: 120%;
  font-weight: 600;
  margin: 50px 0;
  text-align: center;
}

h3, .h3 {
  text-transform: none;
  font-size: 32px;
  line-height: 160%;
  font-weight: 600;
  margin: 30px 0;
  text-align: left;
}

h4, .h4 {
  text-transform: none;
  font-size: 28px;
  line-height: 160%;
  margin: 30px 0;
  text-align: left;
}

h5, .h5 {
  text-transform: none;
  font-size: 24px;
  line-height: 160%;
  margin: 30px 0;
  text-align: left;
}

h6, .h6 {
  text-transform: none;
  font-size: 20px;
  line-height: 160%;
  font-weight: 600;
  margin: 30px 0;
  text-align: left;
}
