// GRID

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.g2, .g3, .g4, .g5 {
  display: flex;
  flex-direction: column;
}

.g2 {width: calc(50% - 40px);}
.g3 {width: calc(33.33% - 40px);}
.g4 {width: calc(25% - 40px);}
.g5 {width: calc(20% - 40px);}
