img {
  width: auto;
  max-width: 100%;
}

.twoimg {
  img {
    align-self: flex-start;
    &:nth-of-type(even) {align-self: flex-end; margin-top: 30px;}
  }
  @media screen and (max-width: $m-l) {
    flex-direction: row;
    img {
      width: calc(50% - 10px);
      margin: 0 20px 30px 0;
      &:last-of-type {margin-right: 0;}
      &:nth-of-type(even) {margin-top: 0;}
    }
  }
  @media screen and (max-width: $m-m) {
    &:nth-of-type(odd) {
      img {
        width: auto;
        &:last-of-type {display: none;}
        &:nth-of-type(odd) {margin: 0 auto 50px auto;}
      }
    }
  }
}
