.panel {
  padding: 20px;
  margin: 20px 0;
}

.panel-ll {background-color: $grey-ll;}
.panel-l {background-color: $grey-l;}
.panel {background-color: $grey;}
.panel-d {background-color: $grey-d;}
.panel-dd {background-color: $grey-dd;}
