---
title: "404&nbsp;&#45;&nbsp;erreur"
description: "Portfolio de Gr&eacute;goire Dierendonck - La page n&apos;existe plus"
keywords: "erreur, 404, Grégoire Dierendonck, Portfolio"
changefreq: "monthly"
priority: "0.4"
---

div class="quatrecentquatre"
  h1 = data.content.quatrecentquatre.title
  p class="center" = data.content.quatrecentquatre.text
  =link_to "#{data.content.quatrecentquatre.linktext}", "#{data.content.quatrecentquatre.linkpath}", class:"button--primary"
